In [3]:
import pandas as pd

df = pd.read_excel('master_file.xlsx')

In [4]:
df

    order_id  sales_amount sale_product    country
0          1           756          RAM     Canada
1          2           760    Harddrive  Australia
2          3           763       Laptop  Australia
3          4           707      Monitor  Australia
4          5           577    Harddrive  Australia
5          6           617      Monitor        USA
6          7           730    Harddrive     Canada
7          8           881       Laptop         UK
8          9           815          GPU    Germany
9         10           738       Laptop        USA
10        11           765       Laptop  Australia
11        12           782          RAM         UK
12        13           704          RAM    Germany
13        14           974       Laptop     Canada
14        15           597          RAM         UK
15        16           554          GPU         UK
16        17           956       Laptop  Australia
17        18           903          RAM         UK
18        19           966          RAM         UK
19        20           721          GPU         UK
20        21           759    Harddrive     Canada
21        22           756    Harddrive    Germany
22        23           803          RAM        USA
23        24           600          RAM         UK
24        25           770          RAM         UK
25        26           938      Monitor    Germany
26        27           984       Laptop  Australia
27        28           921          RAM        USA
28        29           608       Laptop         UK

In [5]:
df['country'].unique()

array(['Canada', 'Australia', 'USA', 'UK', 'Germany'], dtype=object)

In [13]:
#creat new sheets

with pd.ExcelWriter(r'C:\Users\jay\Desktop\PythonInOffice\split_excel_file\new_file.xlsx') as new_file:
    for c in df['country'].unique():
        df.loc[df['country'] == c].to_excel(new_file, sheet_name = c, index=False)

In [14]:

#create new files

for c in df['country'].unique():
    df.loc[df['country'] == c].to_excel(f'{c}.xlsx', index=False)